body{
    font-family: Arial;
    color: white;
    background-color: #121212;
}

.alert{
    padding:10px;
    margin: 10px 0;
    border-radius: 5px;
}

.btn{
    display: inline-block;
    padding: 5px 10px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.btn-back {background: #6c757d;}

.alert-success{ background: #d4edda; color: #155724;}
.alert-danger { background: #f8d7da; color: #721c24; }