:root{
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
}

*{
    margin: 0;
    padding: 0;
    /* border: purple 1px solid; */
}

html {
    line-height: 1px;
}

body{
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "sidebar main"
    "sidebar main"
    "footer footer";
}

nav{
    grid-area: sidebar;
    background-color: blue;
}

main{
    grid-area: main;
    padding: 1em;  
}

footer{
    grid-area: footer;
    padding: 1em;
}

#sidebar{
    box-sizing: border-box;
    height: 100dvh;
    width: 200px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);
}

#sidebar ul{
    list-style: none;
    padding: 1em;
}

#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.2em;
    cursor: pointer;
    .logo{
        font-weight:600;
    }

    .toggle-btn{
        background: none;
        border: none;
    }
}

#sidebar ul li:active{
    color: var(--accent-clr);

    svg{
        fill: var(--accent-clr);
    }
}

#sidebar a, 
#sidebar dropdown-btn, 
#sidebar logo {
    border-radius: .5em;
    padding: 1em;

    text-decoration: none;

    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

#sidebar a:hover, 
#sidebar drop-btn:hover {
    background-color: var(--hover-clr);
    color: var(--accent-clr);

    svg{
        fill: var(--accent-clr);
    }
}

#sidebar.collapsed {
    width: 75px;
}

#sidebar.collapsed > ul > li > * {
    display: none;
}

#sidebar.collapsed #sidebar-toggle {
    display: block;
}

#sidebar.collapsed ul {
    padding: 0.5em;
}

#sidebar.collapsed li {
    padding: 0;
    width: 25px;
}

#dropdown-btn{
    background: none;
    cursor: pointer;
    border: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;

}

#dropdown-btn-container{
    padding-top: 0.5em;
}
