:root{
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
}

body{
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "sidebar main"
    "sidebar main"
    "footer footer";
}

nav{
    grid-area: sidebar;
}

main{
    grid-area: main;
    padding: 1em;  
}

footer{
    grid-area: footer;
    padding: 1em;
}

/* Debug */
div,
section,
main {
    outline: solid purple;
}

