body{
    font-family: Arial;
    /* color: white; */
    /* background-color: #121212; */
}

.form-container{
    max-width: 400px;
    margin: 50px auto;

    width: 300px;
    height: 500px;
    padding: 20px;
    background-color: gray;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change_password{
    max-width: 400px;
    margin: 50px auto;
}

.alert {
    max-width: 390px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;    font-family: arial;

}

.alert p{
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    line-height: 1.4;
}


.btn{
    display: inline-block;
    padding: 5px 10px;
    background: #155724;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.btn-back {
    background: #6c757d;
}

.alert-success{
    background: #d4edda;
    color: #155724;
}

.btn-submit{
    background-color: #007bff;
}


.alert-danger {
    background: #f8d7da;
    color: #721c24;
}