:root{
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
    --secondary-base-clr: #1a1b27;
}

body{
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "sidebar main"
    "sidebar main"
    "footer footer";
}

nav{
    grid-area: sidebar;
    padding-bottom: 0;
}

main{
    grid-area: main;
    padding: 0.5em;
}

footer{
    grid-area: footer;
}

button {
    background: none;
    cursor: pointer;
    border: none;
    color: var(--text-clr);
}

a, 
button,
input[type="submit"] {
    border-radius: .5em;
    padding: 1em;

    text-decoration: none;
    background-color: var(--secondary-base-clr);
    border-style: none;

    color: var(--text-clr);
}

a:hover, 
button:hover,
input[type="submit"]:hover {
    background-color: var(--hover-clr);
    color: var(--accent-clr);

    svg{
        fill: var(--accent-clr);
    }
}

.form-container{
    max-width: 400px;
    max-height: 400px;
    padding: 20px;
    padding-bottom: 10px;
    background-color: var(--secondary-base-clr);
    border: 1px var(--line-clr) solid;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.form-container form-signup{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.form-container > form-signup > button-submit{
    border-style: double;
}

.logout,
.delete_account{
    width: auto;
}

.password_requirements{
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    padding: 20px;
    padding-top: 10px;
    background-color: var(--hover-clr);
    border: 1px var(--line-clr) solid;
    border-radius: 5px;
    display: none;
}

.invalid{
    color: red;
    padding-left: 15px;
}

.invalid::before{
    position: relative;
    left: -35px;
    content: '\1D54F';
}

.valid{
    color: green;
    padding-left: 20px;
}

.valid::before{
    position: relative;
    left: -35px;
    content: '\2705';
}

.hidden{
    display: none;
}

/* Debug */
/* div,
section,
main {
    outline: solid purple;
}
 */
