<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/style.js"></script>

        <title>temp</title>
    </head>

    <body>

        <main>
            <div class="grid-container">
                <div class="options-button-container">
                    <button type="button" class="btn options-button" onclick="toggle_useroptions()">{{username}} </button>

                </div>
                    
                <div class="user-options"  id="options_toggles">
                    <button type="button" class="btn">settings</button>

                </div>
            </div>
        </main>
    </body>
</html>